.manage {
  &-title {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #4d4d4d;
  }
  &-subtitle {
    color: #717171;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 12px;
    // flex-wrap: wrap;
    &__item {
      max-width: 300px;
      min-height: 100%;
      background: #fff;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      text-align: center;
      border-radius: 8px;
      img {
        width: 66px;
        height: 66px;
        object-fit: contain;
        margin: 0 auto 16px;
      }
      &-title {
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 8px;
        color: #4d4d4d;
      }
      &-descr {
        color: #717171;
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .manage-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
