.demo {
  background-color: #f5f7fa;
  padding: 32px 0;
  text-align: center;
  &-title {
    color: #263238;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    max-width: 887px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .btn {
    display: inline-flex;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #4caf4f;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.3s;
    img {
      margin-left: 8px;
    }
    &:hover {
      background: #449a45;
      cursor: pointer;
    }
  }
}
